/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(144, 136, 72);
}

.container {
  width: 50vw;
  background-color: #e7eeef;
  padding: 3rem 8rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.container h2 {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 1rem 0 4rem 0;
}

.container li {
  font-size: 2rem;
  margin-top: 2rem;
  list-style: none;
}

input {
  cursor: pointer;
}

#timer {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 600;
}

#submit,
.btn {
  padding: 1rem 3rem;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  display: block;
  margin: auto;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #3366ff;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

#submit:hover {
  background-color: #1446dd;
}

#result {
  background-color: aqua;
  margin-top: 3rem;
  padding: 3rem 4rem;
  box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

#result h3 {
  font-size: 3rem;
  text-align: center;
}

#result .btn {
  margin-top: 2rem;
  background-color: coral;
  color: brown;
}

#result .btn:hover {
  background-color: rgb(234, 104, 57);
  color: #fff;
}
.result {
  display: none;
}

hr {
  border: 1px dotted rgb(42, 23, 1);
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1b1919;
}

#start {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #0f0;
  margin: 23%;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #622121;
  -webkit-box-reflect: below 0px linear-gradient (transparent, #0002);
  transition: 0s;
}

#start:hover {
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #0f0 0 0 20px #0f0 0 0 40px #0f0 0 0 80px #0f0 0 0 16 0px
    #0f0;
}

#start span {
  position: relative;
  z-index: 100;
}

#start::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 2px;
  background-color: #0f0;
  box-shadow: 5px -8px 0 #0f0, 5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

#start:hover::before {
  width: 60%;
  height: 10%;
  left: -2px;
  box-shadow: 5px 0 0 #0f0, 5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

#start::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translate(-50%);
  height: 2px;
  background-color: #0f0;
  box-shadow: -5px -8px 0 #0f0, -5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

#start:hover::after {
  width: 60%;
  height: 10%;
  right: -2px;
  box-shadow: -5px 0 0 #0f0, -5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

@media screen and (max-width: 900px) {
  
  .container h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.7rem 0 3rem 0;
  }

  .container {
    width: 70vw;
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 500px) {
  
  .container h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }
  .options{
    font-size: 1.5rem;
  }

  .container {
    width: 90vw;
    padding: 1rem 4rem;
  }
} */




*{
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  width: 100%;
  }
ul{
  background-color: black;
  opacity: 0.9;
  display: flex;
  width: 100%;
  height: 100px;
  line-height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.071em;
}
li{
  padding: 6px;
  margin: 20px;
  margin-top: 30px;
  list-style-type: none;
  letter-spacing: 0.071em;
  font-family: 'Montserrat', arial, sans-serif;
}
li a{
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-weight: 400;
  letter-spacing: 0.071em;
  white-space: nowrap;
  transition: all 0.2s linear;

}
li a:active {
font-weight: 700;    
}
header img{
  max-height: 54px;
  box-shadow: none;
  margin-top: 15px;
  border-radius: 0px;
  transition: max-height .5s;
  object-fit: contain;
  background-color: white;
  vertical-align: middle;
  margin-right: 218px;
  margin-left: auto;
  padding: 8px;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1{
  color: rgb(201, 91, 6);
  text-align: center;
  line-height: 1.4;
  font-size: 40px;
  font-weight: bold;
  overflow-wrap: break-word;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 40px;
  padding-top: 150px;

}
.bigbox hr{
  margin: 20px;

  color: black;
  opacity: 0.5;
  width: 50px;
  margin-left: 49vw;
  margin-top: 0px;

}
.container a{
  text-decoration: none;
  /* color: rgb(247, 247, 247); */
  font-weight: 400;
  letter-spacing: 0.071em;
  /* white-space: nowrap; */
  transition: all 0.2s linear;
}
.box{    
background-color: rgb(257, 250, 250);
height: 40vh;
overflow: hidden;
border: 1px groove rgb(171, 182, 189);
padding: 70px;
margin: 50px 500px;
}

.box:hover{
  /* box-shadow: 10px 10px 10px 10px rgb(18, 55, 70); */
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000;
}
.box p{
  color: rgb(89, 89, 89);
  font-family: Montserrat, arial, sans-serif;
  margin: 25px 0px;
}
.box h4{
  font-family: 'Montserrat', arial, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;

}
.cr{
  text-decoration: none;
  color: rgb(194, 87, 4);    font-weight: 400;
  letter-spacing: 0.071em;
  transition: all 0.2s linear;
  font-family: 'Montserrat', arial, sans-serif;

}
.cre:hover{
  color: rgb(109, 53, 10);
}

footer{
  display: block;
  height: 220px;
  width: 100%;
  background-color: black;
  color: rgb(150, 150, 150);
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
left: 0;
bottom: 0;

}
footer a{
  text-decoration: none;
  color: rgb(201, 91, 6);
  font-weight: 300;
  letter-spacing: 0.071em;
  white-space: nowrap;
}
footer div:nth-child(1){
  padding-top: 70px;
  font-weight: 300;
  letter-spacing: 0.071em;
  white-space: nowrap;
}

footer hr{
  margin: 20px;
  width: 50px;
  margin-left: 48vw;
  opacity: 0.1;
}

.paragraph{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 18px;
  font-family: 'Montserrat', arial, sans-serif;
  text-transform: none;
  text-transform: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.box1{
  padding-left: 200px;
  font-size: 18px;
  padding-right: 40px;
  font-family: 'Montserrat', arial, sans-serif;

}
.box1 h2{
  font-size: 36px;
  font-weight: 400;
  color: rgb(201, 91, 6);
  margin-bottom: 0px;
  line-height: 1.125;
  overflow-wrap: break-word;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.box1 span{
  font-size: 18px;
  font-family: Montserrat, arial, sans-serif;
  font-weight: 100;     
  color: rgb(94, 94, 94);
  margin-top: 0;

}
.inside a{
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(94, 94, 94);
  font-weight: bold;
}
.inside{
  font-size: 18px;
  color: rgb(94, 94, 94);
  word-break: break-word;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  font-family: Montserrat, arial, sans-serif;
  letter-spacing: 0.071em;

}

.box2{
  padding-right: 200px;
  font-family: Montserrat, arial, sans-serif;
}
.box2 h4{
  font-size: 24px;
  text-align: left;
  line-height: 1.25;
  color: rgb(89, 89, 89);
  font-weight: 400;
  margin-bottom: 8px;
  overflow-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-family: Montserrat, arial, sans-serif;
  text-transform: none;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.box2 p{
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  margin-top: 0px;
  color: rgb(89, 89, 89);
  font-family: Montserrat, arial, sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.box2 input{
  font-size: 18px;
  color: rgb(71, 71, 71);
  padding: 16px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(223, 91, 91);
  font-weight: 400;
  width: 100%;
  font-family: Montserrat, arial, sans-serif;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;

}
.box2 button{
  font-size: 16px;
  width: auto;
  text-shadow: none;
  padding: 8px 32px;
  min-height: 56px;
  display: inline-flex;
  text-align: center;
  border-style: none;
  text-transform: uppercase;
  margin-top: 16px;
  letter-spacing: 0.071em;
  font-weight: 700;
  max-width: 100%;   
  position: relative;
  color: rgb(255, 255, 255);  
  background-color: rgb(201, 91, 6);
  justify-content: center;
  align-items: center;
  font-family: Montserrat, arial, sans-serif;
  border-radius: 5px;
}
.message button{
  color: rgb(255, 255, 255);
  background-color:rgb(201, 91, 6);
  font-size: 25px;
  transform: translateZ(0px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 18px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 9999;
  height: 65px;
  width: 65px;
  bottom: 24px;
  right: 24px;
  position: fixed;   
}
